header {
  height: 100px;
  background-color: #2733A0;
}

.logo {
  width: 70px;
  margin-left: 15px;
  height: auto;
}

.menu_superior {
  margin: 0;
  display: flex;
  float: right;
  list-style: none;
}

.menu_sup_item {
  border: 0;
  width: 150px;
  text-align: center;
  font-size: 20px;
}

.menu_sup_item:hover {
  border-bottom: 2px solid #000;
}

.menu_sup_item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu_sup_item:hover a {
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
}

.login i {
  text-align: center;
  font-size: 75px;
  cursor: pointer;
}

/*Login*/
.modal_login {

  background: #353b48;
  color: #ccc;
}

.modal-content .modal_login .formulario-login .selector {
  display: inline-block;
  margin: auto;
  padding: 0.375rem 0.75rem;

}

/*Inicio Banner*/

.main .banner {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main .banner .container-imagen {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  height: 100%;
  width: 100%;
  position: absolute;
}

.main .banner .container-filtro {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.main .banner .container-filtro section {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: black;
  padding: 40px 120px 60px 120px;
}

.main .banner .container-filtro section h1 {
  color: #2733A0;
  padding: 5px;
  margin: 20px;
}

.main .banner .container-filtro section .selector {
  display: inline-block;
  margin: auto;
  padding: 5px;
  ;
}

.main .banner .container-filtro form .botones {
  background-color: #2733A0;
  border-color: #2733A0;
  color: white;
}

.main .banner .container-filtro form .botones:hover {
  background-color: #ffc107;
  border-color: #ffc107;
  color: black;

}

.add-button {
  text-align: center;
}
/*Fin Banner*/



/*Inicio eventos cards*/

.container-events {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
  text-align: justify;
}

.container-events .ver_mas {
  color: white;
  text-decoration: none;
  
}

.container-events .card-event {
  width: 15rem;
  margin: 12px;
  min-height: 480px;
  transition: all .2s ease-in-out;
}

.container-events .card-event:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.container-events .card-event .card-body .card-title {
  -webkit-line-clamp: 3;
  font-size: 1.5em;
  font-weight: bold;
}

.container-events .card-event .card-body .card-title,
.card-text {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0.5rem 0.5rem 0 !important;
}


.container-events .card-event .card-body .card-text {
  -webkit-line-clamp: 4;
  line-height: 1.3em;
}



.container-events .card-event .card-body .botones {
  color: #222529;
  margin-top: auto;

}

/*Inicio Footer*/

footer {
  height: 150px;
  border-top: 1px solid #ccc;
  background-color: #2733A0;
  color: white;
 
  
}

footer .contacto_footer {
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 30px;
  color: white;
}

footer .politicas_footer a {
  margin-left: 40%;
  text-decoration: none;
}

.redes_container {
  display: flex;
  font-size: 33px;
  justify-content: space-around;
  color: white;
  align-items: center;
  border: 0;
  text-decoration: none;
}

/*Fin Footer*/